body{
    width: 375px;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 595px;
    background: #E0E1E2;
}

.logo{
    padding-top: 25px;
    width: 130px;
    height: 39.16px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    position: absolute;
    top: 25px;
    right: 28px;
}

.title_first{
    margin-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    height: 230px;
    background-image: url(img/MX-Master1.png);
}

.text_first{
    margin-top: 67px;
    margin-bottom: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.arrow{
    width: 39.31px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bluetooth{
    display: flex;
    flex-direction: column;
    height: 547px;
    background: #EDEDED;
}

.icon_bluetooth{
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
}

.title_bluetooth{
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
}

.text-bluetooth{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.days{
    margin-top: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-bottom: 0;
}

.mouse{
    margin-bottom: 18px;
}

.table{
    height: 810px;
    display: flex;
    flex-direction: column;
}

.text_table{
    margin-top: 20px;
    margin-left: 67px;
    margin-right: 61px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.cards{
    display: flex;
    margin-bottom: 28px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 166px;
    height: 94px;
    border: 1px solid #2F3132;
}

.card:first-child{
    margin-left: 19px;
    margin-right: 6px;
}

.card:last-child{
    margin-right: 18px;
}

.card_title{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #2F3132;
}

.card_text{
    margin: 0;
    margin-top: 5px;
    width: 131px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.card_first{
    margin-top: 15px;
}

.card_second{
    margin-top: 10px;
}


.advantage{
    height: 718px;
    display: flex;
    flex-direction: column;
}

.ad_title{
    margin-top: 70px;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
}

.ad_text{
    margin-top: 20px;
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.slider_title{
    margin: 0;
    margin-top: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.slider{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 33px;
}

.text_slider{
    margin-top: 20px;
    margin-left: 34px;
    margin-right: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.flow{
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(img/High_Resolution_JPG-MX.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: bottom;
}
/* .section_4{
    display: flex;
    flex-direction: column;
    height: 718px;
    background: #EDEDED;
    background-image: url(img\High_Resolution_JPG-MX.png);
}
*/
.sec4_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-right: 33px;
    margin-left: 34px;
}

.sec4_list{
    
}
/*
.flag{
    margin-bottom: 0;
} */

.section_5{
    display: flex;
    flex-direction: column;
    height: 906px;
    background: #EDEDED;
}

.sec5_text{
    margin-bottom: 35px;
    margin-right: 33px;
    margin-left: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.sec5_apps{
    height: 155px;
    background: #C4C4C4;
}

.img_container{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    margin-left: 29px;
    margin-right: 22px;
}

.apps_text{
    margin-top: 20px;
    margin-right: 33px;
    margin-left: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}


/* .footer{
    height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    background: #2F3132;
    padding-top: 25px;
} */
